@import "../styles/reset.scss";
@import "../styles/general.scss";
@import "../styles/mixins.scss";
@import "../styles/hero-page/hero.scss";
@import "../components/button.scss";
@import "../styles/hero-page/materials.scss";
@import "../styles/hero-page/hero-our-work.scss";
@import "../styles/hero-page/advantages.scss";
@import "../styles/hero-page/hero-about.scss";
