.our-work {
  padding-top: 130px;
  padding-bottom: 140px;
}

.our-work__heading {
  margin-bottom: 120px;
}

.our-work__gallery {
  @include flex-center;
  gap: 20px;
}

.our-work__arrow {
  width: 100%;
}

