.hero {
  background-image: url("/src/images/index/hero/hero-bg-image.png");
  background-repeat: no-repeat;
}

.header {
  padding-top: 50px;
  padding-bottom: 85px;
}

.hero__container {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(30, 12, 6, 1);
  border-top-left-radius: 43px;
  border-bottom-left-radius: 43px;
}

.hero__heading {
  width: 520px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.hero__text {
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 60px;
}

.hero__text--emphasized {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.3;
}